server/views/index.html
<!DOCTYPE html><html><head><title>NodeAngular</title><link rel="stylesheet" href="/css/bootstrap.min.css"><link rel="stylesheet" href="/vendor/toastr/toastr.css"><link rel="stylesheet" href="/css/site.css"></head><body ng-app="app"><div class="navbar navbar-inverse navbar-fixed-top"><div class="container"><div class="navbar-header"><a href="/" class="navbar-brand">NodeAngular<h6>-Testing Web App</h6></a></div><div class="navbar-collapse collapse"><ul class="nav navbar-nav"><li><a href="/">Home</a></li></ul></div></div></div><section class="content"><div ng-view></div><h2></h2></section><script type="text/javascript" src="/vendor/jquery/jquery.js"></script><script type="text/javascript" src="/vendor/angular/angular.js"></script><script type="text/javascript" src="/vendor/angular-resource/angular-resource.js"></script><script type="text/javascript" src="/vendor/angular-route/angular-route.js"></script><script type="text/javascript" src="/app/app.js"></script></body></html>

server/views/index.jade
extends ../includes/layout

block main-content
    .navbar.navbar-inverse.navbar-fixed-top
        .container
            .navbar-header
                a.navbar-brand(href="/") NodeAngular
                    h6 -Testing Web App
            .navbar-collapse.collapse
                ul.nav.navbar-nav
                    li
                        a(href="/") Home
                    li
                        a(href="/articles") Articles
                div(ng-include="'/partials/account/navbar-login'")
    section.content
        div(ng-view)


    footer.container.text-center
        p &copy; 2014 NodeAngular Test Application
